$color_background: #C8CBBC;
$color_brand_green: #74a008;
$color_dark_green: #465f05;
$color_white: #fff;
$color_white_hover: rgba(255,255,255,0.4);
$color_shadow: rgba(0,0,0,0.6);
$color_shadow_light: rgba(0,0,0,0.4);
$color_light_gray: rgb(208, 208, 208);
