@import "variables";

.plugin-groups {

	.nav-settings {
		cursor        : pointer;
		padding       : 8px;
		margin-bottom : 20px;
		margin-top    : 8px;

		label {
			font-weight : bolder;
		}

		&.selected {
			background-color : $color_white;
			border           : 1px solid $color_brand_green;
		}

		select {
			margin-top : 6px;
		}
	}

	.subsubsub {
		float : none;

		li:not(:last-child)::after {
			content : '|';
			padding : 0 3px;
		}
	}

	.groups-modern {
		display          : block;
		border           : 1px solid $color_light_gray;
		background-color : $color_white;
		margin           : 10px 0;
		padding          : 0 12px;

		li {
			display : inline-block;
			margin  : 0;

			a {
				display         : inline-block;
				padding         : 20px 0 15px;
				margin          : 0 10px;
				color           : $color_blue_gray;
				text-decoration : none;
				border-bottom   : 5px solid transparent;

				&:hover {
					color         : $color_link_blue;
					border-bottom : 5px solid $color_light_gray;
				}

				&.current {
					color         : $color_dark_blue_gray;
					border-bottom : 5px solid $color_blue_gray;
				}
			}

			.count {
				color : $color_blue_gray;
			}
		}
	}
}
